<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<typeAliases>
		<!--  在没有注解的情况下，会使用 Bean 的首字母小写的非限定类名来作为它的别名 -->
		<package name="com.cq.home.bean"/>
	</typeAliases>

	<typeHandlers>
		<typeHandler handler="org.apache.ibatis.type.EnumOrdinalTypeHandler" javaType="com.cq.home.bean.User$Type" />
	</typeHandlers>
	
	
	<plugins>
		<plugin interceptor="com.github.pagehelper.PageInterceptor">
			<property name="helperDialect" value="mysql"/>
		</plugin>
	</plugins>
	
	<mappers>
<!-- 		<mapper resource="mapper/user.xml"/> -->
		<!--  直接使用包扫描，方便快捷  -->
		<package name="com.cq.home.dao" />
	</mappers>
	
	
<!-- 	<environments default="development"> -->
<!-- 		<environment id="development"> -->
<!-- 			<transactionManager type="JDBC" /> -->
<!-- 			<dataSource type="POOLED"> -->
<!-- 				<property name="driver" value="com.mysql.jdbc.Driver" /> -->
<!-- 				<property name="url" value="jdbc:mysql://localhost:3306/ojh?useUnicode=true&amp;characterEncoding=UTF8&amp;useSSL=false" /> -->
<!-- 				<property name="username" value="ojh" /> -->
<!-- 				<property name="password" value="123456" /> -->
<!-- 			</dataSource> -->
<!-- 		</environment> -->
<!-- 	</environments> -->
</configuration>